<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fs.bansosapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BansosApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBnw9IW9-f15eTfkPPsZjh5xjCkejHZwfw" />

        <activity android:name=".ui.activity.crud.CrudActivity"
            android:theme="@style/noHeader" ></activity>
        <activity
            android:name=".ui.activity.profil.ProfilActivity"
            android:theme="@style/noHeader" />
        <activity android:name=".ui.activity.home.HomeActivity" />
        <activity
            android:name=".ui.activity.auth.LoginActivity"
            android:theme="@style/noHeader" />
        <activity
            android:name=".ui.activity.slider.SliderActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>